@(loggedIn: Boolean, adminFlag: Boolean)

@main(models.Company.name) {

    @if(loggedIn){
        @if(adminFlag){
            @adminMenu()
        } else {
            @userMenu("about", None, false)
        }
    } else {
        <h1>Willkommen bei @models.Company.name</h1>
        <p>
            <a href="@routes.Application.index"><button>zurück</button></a>
        </p>
    }
    <h2>Impressum</h2>
    <p>Der Webshop wird betrieben von: <strong>@models.Company.name</strong></p>
    <br/>
    <p><a href="@routes.Application.location">Lothstraße 64, 80335&nbsp;München</a></p>
    <p>Tel.&nbsp;+49 89 24428470&nbsp;</p>
    <p>Geschäftsführer: Padrone</p>
    <p>Registergericht: Amtsgericht München</p>
    <p>Registernummer: HRB 12 34 56</p>
    <p>USt-IdNr.: DE 123 456 789</p>
}