@(categoryForm: Form[forms.CreateCategoryForm], itemForm: Form[forms.CreateItemForm])(implicit flash: Flash)

@main(models.Company.name) {

    @adminMenu()
    <h1>Sortimentverwaltung</h1>
    <h2>Kategorien</h2>

    <div class="upper">
        <input type="button" class="button" value="Neue Kategorie anlegen"/>
        <div class="dialog" title="Kategorie anlegen:">
        @helper.form(action = routes.AssortmentController.addCategory) {
            <label>Name:</label>
            <input id="name" name="Name" type="text">
            <label>Einheit:</label>
            <input id="unit" name="Unit" type="text" placeholder="cm/ g/ ml/ Portion .." required>
            <label>Sichtbar:</label>
            <input id="visibility" name="Visibility" type="checkbox" value=true><br/><br/>
            <input id="addCategory" type="submit" value="hinzufügen">
            }
        </div>
    </div>

    @for(category <- services.CategoryService.availableCategories) {
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th colspan="3">
                            <text style="float: left">@category.name @if(!category.visibility) {(inaktiv)}</text>
                            <div style="float: left;" class="upper">
                                <input type="button" class="button" value="editieren"/>
                                <div class="dialog" title="Kategorie (ID: @category.id) editieren:">
                                @helper.form(action = routes.AssortmentController.updateCategory) {
                                    <input id="id" name="ID" type="hidden" value="@category.id">
                                    <label>Name:</label><br/>
                                    <input id="name" name="Name" type="text" value="@category.name"><br/>
                                    <br/>
                                    <input id="unit" name="Unit" type="hidden" value="@category.unit">
                                    <label>Sichtbar:</label>
                                    <input id="visibility" name="Visibility" type="checkbox" value=true @{if(category.visibility) "checked"}><br/><br/>
                                    <input id="editCategory" type="submit" value="Änderungen speichern">
                                    }
                                </div>
                            </div>
                            <div style="float: left" class="upper">
                                <input type="button" class="button" value="löschen"/>
                                <div class="dialog" title="Kategorie (ID: @category.id) löschen:">
                                @helper.form(action = routes.AssortmentController.rmCategory(Some(category.id))) {
                                    Sind Sie sicher, dass die Kategorie: @category.name gelöscht werden soll?<br/>
                                    <br/>
                                    <b style="color: red">Hinweis:<br/>
                                        Es werden alle Produkte die dieser Kategorie zugeordnet sind, mitgelöscht!!!</b>
                                    <br/>
                                    <input id="editCategory" type="submit" value="Ja">
                                    <input id="editCategory" type="button" value="Nein">
                                    }
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Art. Nr.</th>
                        <th>Status</th>
                        <th>Art. Name</th>
                        <th>Preis / @category.getUnit</th>
                        <th>Zubereitungsdauer</th>
                        <th>Extras?</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    @for(item <- services.ItemService.getItemsByCategory(category.id)) {
                        <tr @if(!item.visibility || !category.visibility) {class="inactive"}>
                            <td>@item.id</td>
                            <td>@if(!item.visibility) {inaktiv} else {aktiv}</td>
                            <td>@item.name</td>
                            <td>@item.priceToString</td>
                            <td>@item.prepDuration min</td>
                            <td>@if(item.hasExtras) {ja} else {nein}</td>
                            <td>
                                <a style="float: left;" href="@routes.AssortmentController.editItem(Some(item.id))"><i class="button material-icons button edit">edit</i></a>
                                <a href="@routes.AssortmentController.rmItem(Some(item.id))"><i class="button material-icons button delete">delete</i></a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <div class="upper">
                                <input type="button" class="button" value="+"/>
                                <div class="dialog" title="Produkt anlegen:">
                                @helper.form(action = routes.AssortmentController.addItem) {
                                    <label>Produktname:</label>
                                    <input id="name" name="Name" type="text"><br/>
                                    <br/>
                                    <label>Preis (in Cent / @category.getUnit):</label>
                                    <input id="price" name="Price" type="number" min="0" value="50"><br/>
                                    <br/>
                                    <label>Zubereitungsdauer:</label>
                                    <input id="prepDuration" name="PrepDuration" type="number" min="0" max="60" placeholder="in Minuten"><br/>
                                    <br/>
                                    <label>Kategorie:</label>
                                    <input id="categoryID" name="CategoryID" type="hidden" value="@category.id">@category.name<br/>
                                    <br/>
                                    <label>Sichtbar:</label>
                                    <input id="visibility" name="Visibility" type="checkbox" value=true><br/><br/>
                                    <input id="addItem" type="submit" value="hinzufügen">
                                    }
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

    <h2>Extras</h2>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Extra Items</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Extra Name</th>
                    <th>Preis / Einheit</th>
                </tr>
            </thead>
        </table>
    </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    @for(extra <- services.ExtraService.getExtras) {
                        <tr>
                            <td>@extra.id (e)</td>
                            <td>@extra.name</td>
                            <td>@extra.priceToString</td>
                        </tr>
                    }
                </table>
        </div>

    <div id="messageBox">
        @categoryForm.errors.map { errors =>
            <div class="error" style="position: relative; margin-bottom: 5%; background-color: red; color: white;">@errors.message</div>
        }
        @itemForm.errors.map { errors =>
            <div class="error" style="position: relative; margin-bottom: 5%; background-color: red; color: white;">@errors.message</div>
        }
        @flash.get("success").map { message =>
            <div id="success">
                @message
            </div>
        }
        @flash.get("fail").map { message =>
            <div id="error">
                @message
            </div>
        }
    </div>
}