@(user: models.User, cart: List[Order])()

@main(models.Company.name) {

    @if(user.admin) {
        @adminMenu()
    } else {
        @userMenu("cart")
        <h1>Mein Warenkorb</h1>

        @if(cart.isEmpty) {
            Warenkorb ist leer
        }
        @for(order <- services.OrderService.getCartByUserID(user.id)) {
            <div class="order-tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th colspan="4">Dauer: @order.duration min</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Anz.</th>
                            <th></th>
                            <th>Art. Name</th>
                            <th>Art. Nr.</th>
                            <th>Größe</th>
                            <th>Einzelpreis</th>
                            <th>Gesamtpreis</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="order-tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        @for(orderItem <- order.orderItems) {
                            <tr>
                                <td><a href="@routes.OrderController.deleteCartItem(orderItem.id)">löschen</a></td>
                                <td>@orderItem.quantity x</td>
                                <td></td>
                                <td>@orderItem.name</td>
                                <td>@orderItem.itemID</td>
                                <td>@orderItem.size @orderItem.unit</td>
                                <td><i>@services.OrderService.costsToString(orderItem.price / orderItem.quantity)</i></td>
                                <td><i>@services.OrderService.costsToString(orderItem.price)</i></td>
                            </tr>
                            @for(orderExtra <- orderItem.orderExtras) {
                                <tr>
                                    <td></td>
                                    <td><a href="@routes.OrderController.deleteCartItem(orderItem.id)">löschen</a></td>
                                    <td>je @orderExtra.quantity x</td>
                                    <td>+ @orderExtra.name</td>
                                    <td>@orderExtra.id (e)</td>
                                    <td></td>
                                    <td><i>@orderExtra.priceToString</i></td>
                                    <td><i>@services.OrderService.costsToString(orderExtra.price * orderItem.quantity)</i></td>
                                </tr>
                            }
                        }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Rechnungsbetrag</b></td>
                        <td></td>
                        <td><i><b>@order.costsToString</b></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="@routes.OrderController.confirmCart">Bestellungen abschicken</a>
            <br/>
            <a href="@routes.OrderController.deleteCart">Warenkorb löschen</a>
        }
    }
}
