@(admin: Boolean, editUserForm: Form[forms.EditUserForm], user: models.User)(implicit flash: Flash)

@main(models.Company.name) {
    @if(admin) {
        @adminMenu()
        <h2>Benutzer @user.userName verwalten:</h2>
    } else {
        @userMenu("myAccount")
        <h2>Mein Konto verwalten:</h2>
    }
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <th>Kundennummer</th>
                        <th>Username</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Straße</th>
                        <th>Postleitzahl</th>
                        <th>Stadt</th>
                        <th>Telefon</th>
                        <th>eMail</th>
                        <th>Passwort</th>
                        @if(admin) {
                            <tr>
                                <th>Mitarbeiter</th>
                                <th>Aktiv?</th>
                                <th>Distanz (in m)</th>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        @helper.form(action = routes.UserController.updateUser(user.id)) {
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td><input type="hidden" name="ID" value="@user.id" class="userInfoForm">@user.id</td>
                            <td><input type="text" name="UserName" value="@user.userName" class="userInfoForm"/></td>
                            <td><input type="text" name="FirstName" value="@user.firstName" class="userInfoForm"/></td>
                            <td><input type="text" name="LastName" value="@user.lastName" class="userInfoForm"/></td>
                            <td><input type="text" name="Street" value="@user.street" class="userInfoForm"/></td>
                            <td><input type="text" name="Zip" value="@user.zip" class="userInfoForm"/></td>
                            <td><input type="text" name="City" value="@user.city" class="userInfoForm"/></td>
                            <td><input type="text" name="Phone" value="@user.phone" class="userInfoForm"/></td>
                            <td><input type="text" name="Email" value="@user.email" class="userInfoForm"/></td>
                            <td><input type="text" name="Password" value="@user.password" class="userInfoForm"/></td>
                        @if(admin) {
                                <td><input type="checkbox" name="Admin" value="true" class="userInfoForm" @{
                                    if(user.admin) "checked"
                                }></td>
                                <td><input type="checkbox" name="Active" value="true" class="userInfoForm" @{
                                    if(user.active) "checked"
                                }></td>
                                <td><input type="number" name="Distance" value="@user.distance" class="userInfoForm"/></td>
                        } else {
                                <input type="hidden" name="Active" value="true" class="userInfoForm" checked/>
                        }
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="submit" value="Speichern" />
        }


    <div id="messageBox">
        @flash.get("success").map { message =>
            <div id="success">
                @message
            </div>
        }
        @flash.get("fail").map { message =>
            <div id="error">
                @message
            </div>
        }
    </div>
    <script type="text/javascript" src='@routes.JavascriptRoutes.javascriptRoutes()'></script>
    <script src="@routes.Assets.at("javascripts/javaScriptRoutes.js")" type="text/javascript"></script>
}
