@(item: models.Item)(implicit flash: Flash)

@main(models.Company.name) {
        @adminMenu()
        <h2>Produkt @item.name verwalten:</h2>
        @helper.form(action = routes.AssortmentController.updateItem()) {
            <table>
                <tr>
                    <td>Artikel Nr.</td>
                    <td>Kategorie</td>
                    <td>Produktname</td>
                    <td>Preis (in Cent / @services.CategoryService.getCategory(item.categoryID).map{category => @category.getUnit}.getOrElse("Unit"))</td>
                    <td>Zubereitungsdauer (in min)</td>
                    <td>Extras?</td>
                    <td>Sichtbar?</td>
                </tr>
                <tr>
                    <td><input type="hidden" name="ID" value="@item.id">@item.id</td>
                    <td>
                        <select name='CategoryID'>"
                            @for(category <- services.CategoryService.availableCategories) {
                                <option value="@category.id" @{if(category.id == item.categoryID) "selected"}>@category.name</option>
                            }
                        </select>
                    </td>
                    <td><input type="text" name="Name" value="@item.name" required/></td>
                    <td><input type="number" name="Price" min=0 value="@item.price" required/></td>
                    <td><input type="number" name="PrepDuration" min=0 value="@item.prepDuration" required/></td>
                    <td><input type="checkbox" name="ExtrasFlag" value="true" @{if(item.hasExtras) "checked"}></td>
                    <td><input type="checkbox" name="Visibility" value="true" @{if(item.visibility) "checked"}></td>
                </tr>
            </table>
            <input type="submit" value="Speichern" />
        }
    <br/>
    <br/>
    <a href="@routes.AssortmentController.rmItem(Some(item.id))"><button style="color: red">löschen</button></a>

    <div id="messageBox">
        @flash.get("success").map { message =>
            <div id="success">
                @message
            </div>
        }
        @flash.get("fail").map { message =>
            <div id="error">
                @message
            </div>
        }
    </div>
}
