@(userForm: Form[forms.CreateUserForm], loginForm: Form[forms.CreateLoginForm], users: List[models.User])

@import views.html.helper

@main(models.Company.name) {
    <h1>Willkommen bei @models.Company.name</h1>

    <p>
        Login:
    @helper.form(action = routes.UserController.login) {
        @helper.inputText(loginForm("Username"))
        @helper.inputPassword(loginForm("Password"))
        <input type="submit" value="Login" />
    }

    <div class="upper">
        <input type="button" class="button" value="hier registrieren"/>
        <div class="dialog" title="Account anlegen:">
        @helper.form(action = routes.UserController.register) {
            @helper.inputText(userForm("Name"))
            @helper.inputPassword(userForm("Password"))
            <label>Distanz:</label>
            <input type="number" name="Distance" min="0" max="20" />
            <input id="register" type="submit" value="registrieren" />
            }
        </div>
    </div>
	</p>

    <div id="messageBox">
    @userForm.errors.map { errors =>
        <div id="error" >@errors.message</div>
    }
        @loginForm.errors.map { errors =>
            <div id="error" >@errors.message</div>
        }
    </div>


@**
    <p>
        Registrieren:
        @helper.form(action = routes.UserController.register()) {
            @helper.inputText(userForm("Name"))
            @helper.inputPassword(userForm("Password"))
            <input type="submit" value="Speichern" />
        }
    </p>**@
}
