<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <style>
            #trigger {
                width: 50px;
                height: 50px;
                background-color: red;
            }

            #content {
                width: 100px;
                height: 100px;
                background-color: blue;
            }
        </style>

    </head>
    <body>
        <div id="content">

        </div>
        <div id="trigger">

        </div>
        <script type="text/javascript" src='@routes.JavascriptRoutes.javascriptRoutes()'></script>
        <script src="@routes.Assets.at("javascripts/javaScriptRoutes.js")" type="text/javascript"></script>
    </body>
</html>