@(admin: Boolean, ofUser: Long)(user: models.User)

@main(models.Company.name) {

    @if(admin) {
        @adminMenu(user)
        @helper.form(action = routes.OrderController.refresh(user.name)) {
            <select name="custID">
                <option value="-1">Select..</option>
                <option value="0" @if(ofUser == 0){selected}>Alle Bestellungen</option>
                @for(customer <- services.UserService.registeredCustomers) {
                    <option value="@customer.id" @if(customer.id == ofUser){selected}>@customer.name</option>
                }
                <input type="submit" value="show orders" />
            </select>
        }
        @if(ofUser == 0) {
            <h2>Bestellungen von allen Kunden:</h2>
            @showOrders(true, services.OrderService.getAllOrders, services.OrderService.getTotalBusinessVolume)
        } else { @if(ofUser == -1) {
            Bitte eine Auswahl treffen!
            } else {
            <h2>Bestellungen von Kunden-Nr:@ofUser :</h2>
            @showOrders(false, services.OrderService.getOrdersByCustID(ofUser), services.OrderService.getTotalBusinessVolumeByCustID(ofUser))
            }
        }

    } else {
        <h1>Willkommen bei @models.Company.name</h1>
        @userMenu(user)
        <h2>Meine Bestellungen:</h2>
        @showOrders(false, services.OrderService.getOrdersByCustID(ofUser), services.OrderService.getTotalBusinessVolumeByCustID(ofUser))
    }
}
