@()(user: models.User)

@main(models.Company.name) {

    <h1>Willkommen bei @models.Company.name</h1>
    
    <p>Bestellungen von @user.name :</p>
    
    <ul>
    @for(order <- services.OrderService.getOrdersByCustID(user.id)) {
        <h2>Vorgangsnummer: @order.id - @order.date.toString</h2>
        <table>
            <tr>
                <td>Anz.</td>
                <td>Artikel + Zutaten</td>
                <td>Art.-Nr</td>
                <td>Größe</td>
                <td>Einzelpreis</td>
                <td>Gesamtpreis</td>
            </tr>

            @for(orderItem <- order.orderItems) {
                <tr>
                    <td>@orderItem.quantity x</td>
                    <td>@orderItem.name</td>
                    <td>@orderItem.id</td>
                    <td>@orderItem.size</td>
                    <td>@orderItem.price €</td>
                    <td>@orderItem.price €</td>
                </tr>
            }
            <tr>
                <td>Rechnungsbetrag</td>
                <td>@order.costs €</td>
            </tr>
        </table>
    }
    </ul>
    
}
