@(admin: Boolean, ofUser: Long)()

@main(models.Company.name) {

    @if(admin) {
        @adminMenu()
        @helper.form(action = routes.OrderController.refresh()) {
            <select name="custID">
                <option value="-1">Select..</option>
                <option value="0" @if(ofUser == 0){selected}>Alle Bestellungen</option>
                @for(customer <- services.UserService.registeredCustomers) {
                    <option value="@customer.id" @if(customer.id == ofUser){selected}>@customer.name</option>
                }
                <input type="submit" value="Anzeigen" />
            </select>
        }
        @if(ofUser == 0) {
            <h1>Bestellungen von allen Kunden</h1>
            @showOrders(true, false, services.OrderService.getAllOrders, services.OrderService.getTotalBusinessVolume, services.OrderService.getAverageBusinessVolume(None))
        } else { @if(ofUser == -1) {
            Bitte eine Auswahl treffen!
            } else {
            <h1>Bestellungen von Kunden-Nr:@ofUser :</h1>
            @showOrders(false, false, services.OrderService.getOrdersByCustID(ofUser), services.OrderService.getTotalBusinessVolumeByCustID(ofUser), services.OrderService.getAverageBusinessVolume(Some(ofUser)))
            }
        }

    } else {
        @userMenu()
        <h1>Meine Bestellungen</h1>
        @showOrders(false, true, services.OrderService.getOrdersByCustID(ofUser), services.OrderService.getTotalBusinessVolumeByCustID(ofUser), services.OrderService.getAverageBusinessVolume(Some(ofUser)))
    }
}
