@(loggedIn: Boolean, adminFlag: Boolean)

@main(models.Company.name) {

    @if(loggedIn){
        @if(adminFlag){
            @adminMenu()
        } else {
            @userMenu()
        }
    } else {
        <h1>Willkommen bei @models.Company.name</h1>
        <p>
            <a href="@routes.Application.index"><button>zurück</button></a>
        </p>
    }


    <h2>Datenschutzbestimmungen</h2>
    <p>Diese Erklärung erläutert, wie wir mit personenbezogenen Daten umgehen. Personenbezogene Daten sind Informationen zu Ihrer Identität, wie zum Beispiel Name,
        Postanschrift, E-Mail-Adresse, Telefonnummer. Solche Daten werden durch diese WEBSITE ausschließlich in Übereinstimmung mit dem jeweils geltenden
        Datenschutzrecht erhoben und genutzt. Diese Daten werden nur gespeichert, wenn sie an uns übermittelt werden. Soweit möglich, ermöglicht diese WEBSITE Ihnen den Besuch,
        ohne personenbezogene Daten zu erheben.</p>
    <p><br> Diese Erklärung zum Datenschutz gilt für die Website „127.0.0.1:9000“ (im Folgenden WEBSITE) der @models.Company.name Firma. Sie gilt nicht für Websites, auf die
        diese Website verlinkt. Bitte beachten Sie auf anderen Websites die dortigen Datenschutzhinweise.<br> <br> Im Folgenden möchten wir Ihnen erläutern, welche Daten
        durch diese WEBSITE erhoben, verarbeitet und genutzt werden. Soweit sich unsere Services ändern oder neue Anforderungen und Gesetzesänderungen aufkommen, wird diese
        Datenschutzerklärung angepasst werden. Bitte schauen Sie immer wieder auf diese Seite, um von solchen Änderungen zu erfahren.</p>
    <ol>
        <li>Allgemeines zur Datenverwendung<br> <br> Die WEBSITE verwendet Ihre personenbezogenen Daten nur</li>
        <ul>
            <li>zur Beantwortung Ihrer Anfragen,</li>
            <li>für Zwecke der Markt- und Meinungsforschung durch @models.Company.name,</li>
            <li>zur Information des @models.Company.name Stores und</li>
            <li>zur Durchführung von Services, die Sie beantragt haben.</li>
        </ul>
    </ol>
    <ol>
        <li>
            Spezielles zur Datenverwendung: Besondere Services<br> <br> Geht es Ihnen darum, eine Pizza oder einen sonstigen Service zu bestellen,
            fragen wir erforderliche Informationen von Ihnen ab. Es unterliegt Ihrer freien Entscheidung, ob Sie diese Daten abgeben. Ohne diese Angaben können wir Ihnen allerdings
            in diesen Fällen den gewünschten Service nicht ermöglichen. <br> Sie können Ihre Einwilligung jederzeit widerrufen.
        </li><br/>

        <li>Datenerhebung und Speicherung<br> <br> Automatisiert werden bei der Nutzung eines Webauftritts Daten gespeichert, bei denen ein indirekter Bezug zu Ihrer Person nicht
            ausgeschlossen werden kann. Diese Daten werden ebenso beim Zugriff auf jede andere WEBSITE anderer Anbieter generiert. Dazu gehören beispielsweise Informationen zum verwendeten Webbrowser,
            über die besuchten Seiten sowie die Verweildauer. Soweit indirekt ein Personenbezug hergestellt werden könnte und die Erhebung technisch nicht verhindert werden kann, werden die von
            dieser WEBSITE erhobenen personenbezogenen Daten kurzfristig gelöscht. Im Übrigen werden die Daten anonym genutzt, um die WEBSITE im Sinne der Nutzer weiter zu verbessern bzw.
            ihre Sicherheit und Stabilität zu gewährleisten. Für einen Besuch unserer WEBSITE benötigen wir sonst keine Daten von Ihnen, sofern Sie nicht besondere Services nutzen wollen.
            Sie können sich daher weitgehend anonym im Sinne des Datenschutzrechts auf unserer WEBSITE bewegen.<br> <br> Das Informationsangebot der WEBSITE kann Cookies und vergleichbare Features
            einsetzen. Die Verwendung dieser Funktionalitäten kann durch Einstellungen des Browserprogramms vom jeweiligen Nutzer ausgeschaltet werden. Unter Umständen wird die WEBSITE Daten, soweit
            sie nicht gerade zur Bereitstellung von Telemedien verwendet werden, mit Daten aus anderen Quellen ergänzen. Solche weiteren Daten helfen uns dabei, unsere Services zu verbessern.
            Die Weitergabe von anonymisierten Daten (Daten, welche Ihnen nicht mehr zugeordnet werden können) an Dritte ist ohne vorherige Bekanntgabe jederzeit möglich. <br>
            <br> Weitere Informationen finden Sie unter <a href="http://www.meine-cookies.org/">http://www.meine-cookies.org/</a> und <a href="http://www.allaboutcookies.org/ge/">http://www.allaboutcookies.org/ge/.<br> </a>
        </li>
        <br/>
        <li>
            Ort der Datenverarbeitung<br/><br/>
            Der Server der WEBSITE wird durch unseren Auftragsdatenverarbeiter in Deutschland betrieben.
        </li><br/>

        <li>
            Minderjährige<br> <br> Wenn Sie noch nicht volljährig sind, nutzen Sie diese WEBSITE nur mit Zustimmung Ihrer Erziehungsberechtigten. Der Schutz personenbezogener Daten
                von Kindern ist uns ein besonderes Anliegen. Wir erheben daher wissentlich keine Daten von Minderjährigen, sofern nicht die Erziehungsberechtigten ihre Zustimmung erteilt
                haben. Wird für uns erkennbar, dass Minderjährige ohne entsprechende Zustimmung auf der WEBSITE selbst persönliche Daten eingeben oder über solche Personen persönliche Daten
                eingegeben werden, löschen wir diese Daten.
        </li>
        <br/>
        <li>
            Fragen<br> <br> Wenn Sie Fragen hinsichtlich der Verarbeitung Ihrer persönlichen Daten haben, können Sie sich direkt an unsere externe Beauftragte für den
            Datenschutz wenden, die auch im Falle von Auskunftsersuchen, Anträgen oder Beschwerden zur Verfügung steht:
        </li><br/><br/><br/>
    </ol>
}