@(allOrders: Boolean, orders: List[Order], totalBusinessVolume: Int, averageBusinessVolume: Int)

    @if(!orders.isEmpty) {
        <h3>
            Gesamtumsatz: @services.OrderService.costsToString(totalBusinessVolume) <br/>
                    &Oslash; Bestellwert: @services.OrderService.costsToString(averageBusinessVolume)
        </h3>
        @for(order <- orders) {
            <h2>
                @order.date.toString.substring(0, 16)@**DateFormat: yyyy-mm-dd hh:mm**@ - RG: @order.id @if(allOrders) {
                                                                            <a href="@routes.UserController.editUser(Some(order.custID))">Kd.-Nr.: @order.custID</a>
                                                                        }
            </h2>
            <table style="width: 50%;">
                <tr>
                    <td>Anz.</td>
                    <td></td>
                    <td>Artikel</td>
                    <td>Art.-Nr</td>
                    <td>Größe</td>
                    <td>Einzelpreis</td>
                    <td>Gesamtpreis</td>
                </tr>

                @for(orderItem <- order.orderItems) {
                    <tr>
                        <td>@orderItem.quantity x</td>
                        <td></td>
                        <td>@orderItem.name</td>
                        <td>@orderItem.id</td>
                        <td>@orderItem.size cm</td>
                        <td>@services.OrderService.costsToString(orderItem.price/orderItem.quantity)</td>
                        <td>@services.OrderService.costsToString(orderItem.price)</td>
                    </tr>
                    @for(orderExtra <- orderItem.orderExtras) {
                        <tr>
                            <td></td>
                            <td>je @orderExtra.quantity x</td>
                            <td>+ @orderExtra.name</td>
                            <td>@orderExtra.id (e)</td>
                            <td></td>
                            <td>@services.OrderService.costsToString(orderExtra.price)</td>
                            <td>@services.OrderService.costsToString(orderExtra.price*orderItem.quantity)</td>
                        </tr>
                    }
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Rechnungsbetrag</td>
                    <td>@order.costsToString</td>
                </tr>
            </table>
        }
    } else {
        <p>Keine Bestellungen vorhanden!</p>
    }
