@(selected: String)
<div id="contentHeader">
    <div id="topHeader">

    </div>
    <div id="subHeader">
        <ul id="menu" class="menu submenu">
            <li @{if(selected == "home"){"class=selectedTab"}}><a href="@routes.Application.index()">Home</a></li>
            @for(category <- services.CategoryService.visibleCategories) {
                <li @{if(selected == (category.id).toString()){"class=selectedTab"}}><a href="@routes.ItemController.showItems(category.id)">@category.name</a></li>
            }
            <li style="float: right" @{if(selected == "logout"){"class=selectedTab"}}><a href="@routes.Auth.logout">logout</a></li>
            <li style="float: right" @{if(selected == "myAccount"){"class=selectedTab"}}><a href="@routes.UserController.editUser(None)">Mein Konto</a></li>
            <li style="float: right" @{if(selected == "myOrders"){"class=selectedTab"}}><a href="@routes.OrderController.showOrders(None)">Meine Bestellungen</a></li>
        <li style="float: right" @{if(selected == "cart"){"class=selectedTab"}}><a href="@routes.OrderController.showCart">Warenkorb</a></li>
        </ul>
    </div>

</div>