@(userForm: Form[forms.CreateUserForm], users: List[models.User], messages: List[String])()

@main(models.Company.name) {
    <h1>Willkommen bei @models.Company.name</h1>

    <p><a href="@routes.UserController.logout">logout</a></p>

    <h2>Benutzerverwaltung:</h2>
    <table>
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>Staff</td>
            <td></td>
        </tr>
        @for(user <- users) {
            <tr>
                <td>@user.id</td>
                <td>@user.name</td>
                <td><input type="checkbox" disabled="disabled" @{if(user.admin) "checked"}/></td>
                <td><a href="@routes.UserController.editUser(Some(user.id))">edit</a></td>
            </tr>
        }
    </table>

    <div class="upper">
        <input type="button" class="button" value="Neuen User anlegen"/>
        <div class="dialog" title="User anlegen:">
        @helper.form(action = routes.UserController.addUser) {
            <label>Name:</label>
            <input id="name" name="Name" type="text">
            <label>Passwort:</label>
            <input id="password" name="Password" type="password">
            <label>Mitarbeiter?</label>
            <input id="Admin" name="Admin" type="checkbox" value=true><br/><br/>
            <input id="submit" type="submit" value="Hinzufügen">
            }
        </div>
    </div>

    @**<div class="upperDialog">
    <div class="container">
        <div class="main">
            <div class="dialog" title="User anlegen:">

                    <label>Name:</label>
                    <input id="name" name="Name" type="text">
                    <label>Passwort:</label>
                    <input id="password" name="Password" type="password">
                    <label>Mitarbeiter?</label>
                    <input id="Admin" name="Admin" type="checkbox" value=true><br/><br/>
                    <input id="submit" type="submit" value="Hinzufügen">
                    <input id="cancel" type="button" value="Abbrechen">
            }
            </div>
        </div>
     </div>


    <input id="button" type="button" value="Neuen User anlegen">
    </div>     **@

    <div id="messageBox">
        @userForm.errors.map { errors =>
            <div id="error" >@errors.message</div>
        }
        @for(message <- messages) {
            <div id="success">@message</div>
        }
    </div>
    @**<p>
    Neuen User hinzufügen:
    </p>
    <table>
            <tr>
                <td>Name</td>
                <td>Passwort</td>
                <td>Mitarbeiter?</td>
                <td></td>
            </tr>
        @helper.form(action = routes.UserController.addUser) {
            <tr>
                <td><input type="text" name="Name"/></td>
                <td><input type="password" name="Password"/></td>
                <td><input type="checkbox" value=true name="Admin"/></td>
                <td><input type="submit" value="hinzufügen" /></td>
            </tr>
        }
    </table>**@
}