@(userForm: Form[forms.CreateUserForm], users: List[models.User])()

@main(models.Company.name) {

    @adminMenu()

    <section>
        <h1>Benutzerverwaltung</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Mitarbeiter / Kunde</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    @for(user <- users) {
                        <tr>
                            <td>@user.id</td>
                            <td>@user.name</td>
                            <td>@{if(user.admin) "Mitarbeiter" else "Kunde"}</td>
                            <td><a href="@routes.UserController.editUser(Some(user.id))">edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

    <div class="upper">
        <input type="button" class="button" value="Neuen User anlegen"/>
        <div class="dialog" title="User anlegen:">
        @helper.form(action = routes.UserController.addUser) {
            <label>Name:</label><br/>
            <input id="name" name="Name" type="text"><br/><br/>
            <label>Passwort:</label><br/>
            <input id="password" name="Password" type="password"><br/><br/>
            <label>Distanz:</label><br/>
            <input type="number" name="Distance" min="0" max="20" /><br/><br/>
            <label>Mitarbeiter?</label>
            <input id="Admin" name="Admin" type="checkbox" value=true><br/>
            <br/>
            <input id="submit" type="submit" value="Hinzufügen">
            }
        </div>
    </div>


    <div id="messageBox">
    @userForm.errors.map { errors =>
        <div id="error" >@errors.message</div>
    }
    </div>
    @**<p>
    Neuen User hinzufügen:
    </p>
    <table>
            <tr>
                <td>Name</td>
                <td>Passwort</td>
                <td>Mitarbeiter?</td>
                <td></td>
            </tr>
        @helper.form(action = routes.UserController.addUser) {
            <tr>
                <td><input type="text" name="Name"/></td>
                <td><input type="password" name="Password"/></td>
                <td><input type="checkbox" value=true name="Admin"/></td>
                <td><input type="submit" value="hinzufügen" /></td>
            </tr>
        }
    </table>**@
}