@(selected: String, parent: Option[String], subMenu: Boolean)
<div id="contentHeader">

    <div id="topHeader">
        <ul class="menu topmenu">
            <li class="tab homeTab @{if(selected == "home"){"selectedTab"}}"><a href="@routes.Application.index()"><img src="@routes.Assets.at("images/pizzaLogo2.png")"></a></li>
            <!--@for(category <- services.CategoryService.visibleCategories) {
                <li class="tab @{if(selected == (category.id ).toString()){"selectedTab"}}"><a href="@routes.ItemController.showItems(category.id)">@category.name</a></li>
            }-->
            <li class="tab rangeTab @{if(selected == "range" || parent.getOrElse("error") == "range"){"selectedTab"}}"><a href="@routes.ItemController.showItems(1)">Sortiment</a></li>
            <li class="tab cartTab @{if(selected == "cart"){"selectedTab"}}"><a href="@routes.OrderController.showCart">Warenkorb</a></li>
            <li class="tab myOrdersTab @{if(selected == "myOrders"){"selectedTab"}}"><a href="@routes.OrderController.showOrders(None)">Bestellungen</a></li>
            <li class="tab myAccountTab @{if(selected == "myAccount"){"selectedTab"}}"><a href="@routes.UserController.editUser(None)">Mein Konto</a></li>
            <li class="tab logoutTab @{if(selected == "logout"){"selectedTab"}} "><a href="@routes.Auth.logout">logout</a></li>



        </ul>
    </div>
    @if(subMenu) {
        <div id="subHeader">
            <ul class="menu submenu">
            @for(category <- services.CategoryService.visibleCategories) {
                <li class="tab @{
                    if(selected == (category.id).toString()) {
                        "selectedTab"
                    }
                }"><a href="@routes.ItemController.showItems(category.id)">@category.name</a></li>
            }
            </ul>
        </div>
    }

</div>