@(orderForm: Form[forms.CreateOrderForm], user: models.User, cID: Long)

@main(models.Company.name) {

    <script type="text/javascript">
            function changePrice(id) {
                var p = document.getElementById(id).value * document.getElementById("s"+id).value;
                document.getElementById("p"+id).innerText = Number(p/100).toFixed(2) + "€";
                var tp = p * document.getElementById("q"+id).value;
                document.getElementById("tp"+id).innerText = Number(tp/100).toFixed(2) + "€";
                var etp = document.getElementById("q"+id).value * document.getElementById("eq"+id).value * 50;
                document.getElementById("etp"+id).innerText = "+" + Number(etp/100).toFixed(2) + "€";
            }

            function showExtra(id) {
                document.getElementById("tr"+id).style.display = "";
                //document.getElementById("eq"+id).innerHTML="<input type='hidden' name='eQuantity' value='1'/>";
            }

            function addExtra(id) {
                var p = document.getElementById("eq"+id).value * 50;
                var tp = p * document.getElementById("q"+id).value;
                document.getElementById("ep"+id).innerText = Number(p/100).toFixed(2) + "€ pro Pizza";
                document.getElementById("etp"+id).innerText = "+" + Number(tp/100).toFixed(2) + "€";
            }

            function changeExtra(id) {
                /*var opt = document.getElementById("se"+id);
                if(opt.selectedIndex == 0) {
                    document.getElementById("eq"+id).style.display = "none";
                    document.getElementById("ep"+id).innerText = "";
                    document.getElementById("etp"+id).innerText = "";
                    document.getElementById("eq"+id).value="";
                    return;
                }*/
                document.getElementById("eq"+id).value=1;
                //var p = document.getElementById("eq"+id).value * 50;
                for (var i = 0, box; box = document.getElementById(id+" e")[i++]; ) {
                    var q = 0;
                    if(box.checked) {
                        q += 1;
                    }
                }
                var p = q * 50;
                var tp = p * document.getElementById("q"+id).value;
                document.getElementById("eq"+id).style.display = "";
                document.getElementById("eq"+id).style.display = "";
                document.getElementById("etp"+id).style.display = "";
                document.getElementById("ep"+id).innerText = Number(p/100).toFixed(2) + "€ pro Pizza";
                document.getElementById("etp"+id).innerText = "+" + Number(tp/100).toFixed(2) + "€";
            }

            function delExtra(id) {
                document.getElementById("eq"+id).style.display = "none";
                document.getElementById("tr"+id).style.display = "none";
                document.getElementById("etp"+id).style.display = "";
                document.getElementById("ep"+id).innerText = "";
                document.getElementById("etp"+id).innerText = "";
                document.getElementById("eq"+id).value="";
                //document.getElementById("se"+id).selectedIndex = 0;
                var boxes = document.getElementById("e"+id).getElementsByTagName('input');
                for (var i = 0, box; box = boxes[i++];) {
                    box.checked = false;
                }
            }
    </script>


    <h1>Willkommen @user.name bei @models.Company.name</h1>

    @userMenu()

    @for(category <- services.CategoryService.getCategory(cID)) {
        <h2 align="center">@category.name</h2>
        <table>
            <tr>
                <!-- <td></td> -->
                <td>Anz.</td>
                <td>Art.</td>
                <td>Größe (in cm)</td>
                <td>Preis</td>
                <td>Gesamt</td>
                <td></td>
            </tr>

            @for(item <- services.ItemService.getItemsByCategory(cID)) {
                @helper.form(action = routes.OrderController.addOrder(user.name)) {
                    <tr>
                        <!-- <td></td> -->
                        <td><input id="q@item.id" type="number" name="quantity" value="1" min="1" onchange="changePrice(@item.id)"/></td>
                        <td>
                            <input type="hidden" name="itemID" value="@item.id"/>
                            @item.name
                            @if(cID == 1) {
                                <input id="addExtras" type="button" value="extras" onclick="showExtra(@item.id);"/>
                            }
                            @**helper.select(orderForm, helper.options(List("extra1","2")),'label -> "select extras")**@
                        </td>
                        <td><input id="@item.id" type="number" name="size" value="20" min="20" onchange="changePrice(@item.id)"/></td>
                        <input id="s@item.id" type="hidden" value="@item.price"/><td id="p@item.id">@services.OrderService.costsToString(item.price*20)</td>
                        <td id="tp@item.id"><b>@services.OrderService.costsToString(item.price)</b></td>
                        <td><input type="submit" value="bestellen" /></td>
                        <td></td>
                    </tr>
                    <tr id="tr@item.id" style="display: none;">
                        <td><input type="button" value="-" onclick="delExtra(@item.id);"/></td>
                        <td><input id="eq@item.id" style="display: none;" name="eQuantity" type="number" value="" min="1" onchange="addExtra(@item.id)"/></td>
                        <td id="e@item.id">
                            @**<select id="se@item.id" name="extraID" onchange="changeExtra(@item.id)">
                                <option value="">wähle..</option>
                                @for(extra <- services.ExtraService.getExtras) {
                                    <option value="@extra.id">@extra.name</option>
                                }
                            </select>**@
                            @for(extra <- services.ExtraService.getExtras) {
                                <label  class="checkbox-inline">
                                    <input type="checkbox" name="extraID[@{extra.id-1}]" value="@extra.id" />@extra.name<br/>
                                </label>
                            }
                        </td>
                        <td></td>
                        <td id="ep@item.id" style="text-align: right;"></td>
                        <td id="etp@item.id" style="display: none; text-align: right;"></td>
                    </tr>
                }
                <tr><td></td></tr>
            }
        </table>
    }
}