@(orderForm: Form[forms.CreateOrderForm], username: String, cID: Long)

@main(models.Company.name) {

    <h1>Willkommen @username bei @models.Company.name</h1>

    @for(category <- services.UserService.availableCategories) {
        <p><a href="@routes.UserController.welcomeUser(username, category.id)">@category.name</a></p>
    }



    @for(category <- services.UserService.getCategory(cID)) {
        <h2>@category.name</h2>
        <table>
            <tr>
                <td>Quantity</td>
                <td>Name</td>
                <td>Size</td>
                <td>Prize</td>
                <td></td>
            </tr>

            @for(item <- services.UserService.getItemsByCategory(cID)) {
                <tr>
                @helper.form(action = routes.UserController.addOrder()) {
                    <td>1</td>
                    <td><input type="hidden" name="itemID" value="@item.id">@item.name</input></td>
                    <td>2</td>
                    <td>1€</td>
                    <td><input type="submit" value="submit order" /></td>
                }
                </tr>
            }
        </table>
    }
}