@(orderForm: Form[forms.CreateOrderForm], user: models.User, categoryID: Long)

@main(models.Company.name) {

    <script type="text/javascript">
            function changePrice(id) {
                var p = document.getElementById(id).value * document.getElementById("s"+id).value;
                document.getElementById("p"+id).innerText = Number(p/100).toFixed(2) + " €";
                var tp = p * document.getElementById("q"+id).value;
                document.getElementById("tp"+id).innerText = Number(tp/100).toFixed(2) + " €";
            }

            function changePriceWithE(id) {
                var p = document.getElementById(id).value * document.getElementById("s"+id).value;
                document.getElementById("p"+id).innerText = Number(p/100).toFixed(2) + " €";
                var tp = p * document.getElementById("q"+id).value;
                documeant.getElementById("tp"+id).innerText = Number(tp/100).toFixed(2) + " €";

                var boxes = document.getElementById("e"+id).getElementsByTagName('input');
                var q = 0;
                for (var i = 0, box; box = boxes[i++];) {
                    if(box.checked) {
                        q += 1;
                    }
                }
                var etp = document.getElementById("q"+id).value * q * 50;
                document.getElementById("etp"+id).innerText = "+" + Number(etp/100).toFixed(2) + " €";
            }

            function showExtra(id) {
                document.getElementById("tr"+id).style.display = "";
            }

            function modifyExtra(id) {
                document.getElementById("etp"+id).style.display = "";
                var boxes = document.getElementById("e"+id).getElementsByTagName('input');
                var q = 0;
                for (var i = 0, box; box = boxes[i++];) {
                    if(box.checked) {
                        q += 1;
                    }
                }
                var p = q * 50;
                var tp = p * document.getElementById("q"+id).value;
                document.getElementById("ep"+id).style.display = "";
                document.getElementById("etp"+id).style.display = "";
                document.getElementById("ep"+id).innerText = Number(p/100).toFixed(2) + " € pro Pizza";
                document.getElementById("etp"+id).innerText = "+" + Number(tp/100).toFixed(2) + " €";
            }

            function delExtra(id) {
                document.getElementById("tr"+id).style.display = "none";
                document.getElementById("etp"+id).style.display = "";
                document.getElementById("ep"+id).innerText = "";
                document.getElementById("etp"+id).innerText = "";
                var boxes = document.getElementById("e"+id).getElementsByTagName('input');
                for (var i = 0, box; box = boxes[i++];) {
                    box.checked = false;
                }
            }
    </script>

    @userMenu(categoryID.toString(), Some("range"), true)
    <div id="contentBody">
        <!--<div id="contentBodyInner">-->


    @for(category <- services.CategoryService.getCategory(categoryID)) {
        <!--<h1>@category.name</h1>-->
        @if(services.ItemService.cntVisibleItems(categoryID) == 0) {
        <b>zur Zeit sind keine Produkte hinterlegt!</b>
        } else {

                <table cellpadding="0" cellspacing="0" border="0" class="productTable">
                    <thead class="product-tbl-header">
                        <tr>
                            <th>Anz.</th>
                            <th>Art. Name</th>
                            <th>Größe (in @category.getUnit)</th>
                            <th></th>
                            <th>Preis</th>
                            <th>Gesamt</th>
                            <th></th>
                        </tr>
                    </thead>





                    <tbody class="product-tbl-content">
                    @for(item <- services.ItemService.getAvailableItemsByCategory(categoryID)) {
                        @helper.form(action = routes.OrderController.addToCart()) {
                            <tr>
                                <td><input class="value-input" id="q@item.id" type="number" name="quantity" value="1" min="1" onchange="changePrice(@item.id)"/></td>
                                <td>
                                    <input type="hidden" name="itemID" value="@item.id"/>
                                    @item.name
                                </td>
                                <td>
                                @if(services.CategoryService.hasSizes(categoryID)) {
                                    <select id="@item.id" name="size" @if(item.hasExtras) {onchange="changePriceWithE(@item.id)"} else {onchange="changePrice(@item.id)"}>
                                    @for(size <- services.CategoryService.getSizes(categoryID)) {
                                        <option value="@size.size">@size.name (@size.size @category.getUnit)</option>
                                    }
                                    </select>
                                } else {
                                    <input class="value-input" id="@item.id" type="number" name="size" value="1" min="1" placeholder="in @category.getUnit" onchange="changePrice(@item.id)"/>
                                }
                                </td>
                                <td>
                                @if(item.hasExtras) {
                                    <input id="addExtras" type="button" value="+ extras" onclick="showExtra(@item.id);"/>
                                }
                                </td>
                                <input id="s@item.id" type="hidden" value="@item.price"/><td id="p@item.id">@item.priceToString(services.CategoryService.getDefaultSize(categoryID))</td>
                                <td id="tp@item.id"><b>@item.priceToString(services.CategoryService.getDefaultSize(categoryID))</b></td>
                                <td><input type="submit" value="bestellen" /></td>
                            </tr>
                            @if(item.hasExtras) {
                                <tr id="tr@item.id" style="display: none;">
                                    <td>
                                        <input type="button" value="-" onclick="delExtra(@item.id);"/>
                                    </td>
                                    @*<td><input id="eq@item.id" style="display: none;" name="eQuantity" type="number" value="" min="1" onchange="addExtra(@item.id)"/></td>*@
                                    <td id="e@item.id">
                                        @**<select id="se@item.id" name="extraID" onchange="changeExtra(@item.id)">
                                        <option value="">wähle..</option>
                                        @for(extra <- services.ExtraService.getExtras) {
                                        <option value="@extra.id">@extra.name</option>
                                        }
                                        </select>**@
                                        @for(extra <- services.ExtraService.getExtras) {
                                            <label class="checkbox-inline">
                                                <input type="checkbox" onchange="modifyExtra(@item.id)" name="extraID[@{
                                                    extra.id - 1
                                                }]" value="@extra.id" /> @extra.name <br/>
                                            </label>
                                        }
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td id="ep@item.id" style="vertical-align: top;"></td>
                                    <td id="etp@item.id" style="display: none;
                                        vertical-align: top;"></td>
                                    <td></td>
                                </tr>
                            }
                        }
                    }
                    </tbody>
                </table>

        }
    }
        </div>
    <!--</div>-->
}